* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor1: #4F46E5;
    --cor2: #7C3AED;
    --cor3: #0F172A;
    --cor4: #0A0F1C;
    --cor5: #E2E8F0;
    --cor6: RGBA(255, 255, 255, 0.1);
    --cor7: RGBA(15, 23, 42, 0.8);
    --cor8: RGBA(79, 70, 229, 0.3);
    --cor9: RGBA(255, 255, 255, 0.05);
    --cor10: RGBA(226, 232, 240, 0.8);
}

/* Menu de navegação */

body {
    background-color: var(--cor3);
    color: var(--cor5);
}

nav.navegacao {
    position: fixed;
    background-color: var(--cor7); 
    width: 100%;
    z-index: 10;
    top: 0;
    padding: 1.5rem;
}

nav.navegacao > .menu {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 3rem;
}

.menu-link {
    text-decoration: none;
    color: var(--cor5);
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
}

a.menu-link::after {
    content: "";
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: linear-gradient(90deg, var(--cor1), var(--cor2));
    transition: width 0.5s linear;
    
}

a.menu-link:hover::after {
    width: 100%;
    
} 

/* Cabeçalho */

.cabecalho {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabecalho > section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.foto-perfil {
    width: 200px;
    height: 225px;
    box-shadow: 0 0 20px var(--cor8);
    border-radius: 50%;
    border: 2px solid var(--cor6);
}

h1 {
    font-size: 3.5rem;
    color: var(--cor1);
    font-weight: bold;
    margin: 20px;
}

.cabecalho > .cabecalho-subtitulo {
    font-size: 2rem;
    color: var(--cor5);
}

/* Sobre */

.sobre {
    padding: 6rem 2rem;
}

.sobre-titulo  {
    font-size: 3rem;
    color: var(--cor5);
    text-align: center;
    margin-bottom: 30px;
}

.sobre-caixa {
    padding: 2rem;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 15px;
    border: 1px solid var(--cor5);
    backdrop-filter: blur(10px);
    background-color: var(--cor9);
}

.sobre-texto {
    text-align: center;
    font-size: 1.2rem;
}

/* Projetos */

.projetos {
    padding: 6rem 2rem;
}


.projetos-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 35px;
}


.projetos-caixa {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.projetos-card {
    background-color: var(--cor9);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    border: 1px solid var(--cor5);
    overflow: hidden;
    transition: all 0.2s linear;
    cursor: pointer;
}

.projetos-card:hover {
    box-shadow: 0 10px 20px var(--cor8);
    transform: translateY(-10px) scale(1.03);
}

.caixa-textos-projeto {
    padding: 1.5rem;
}

.projetos-imagem {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.projeto-titulo {
    color: var(--cor10);
    line-height: 1.25rem;
    text-align: center;
    margin-bottom: 25px;
    font-size: 25px;
    font-weight: 700;
}

.projeto-texto {
    margin-bottom: 5px;
}

/* Contatos */

.contatos {
    padding: 6rem 2rem;
}

.contatos-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 35px;
}

.formulario-contato {
    max-width: 600px;
    margin: 0 auto;
    background-color: var(--cor9);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    padding: 2rem;
    border: 1px solid var(--cor5);
    border-radius: 15px;
}

.campo-form {
    width: 100%;
    padding: 1rem;
    background-color: var(--cor9);
    border-radius: 8px;
    color: var(--cor5);
    border: 1px solid var(--cor5);
    outline: none;
}

.campo-form:focus {
    border-color: var(--cor2);
    box-shadow: var(--cor8);
}

.grupo-form {
    margin-bottom: 1.5rem;
}

.botao-form {
    color: var(--cor5);
    background: linear-gradient(45deg, var(--cor1), var(--cor2));
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: all 0.5s linear;
}

.botao-form:hover {
    transform: translateY(-4px);
    box-shadow: 0 5px 15px var(--cor8);
}


